In [17]:
import pandas as pd
import numpy as np

df = pd.read_excel("/home/ubuntu/Desktop/TCOB42/Student_Data1.xlsx")
df

,math score,reading score,writing score,placement score,club join date,placement offer count
0,69.0,84,68,78,2020,2
1,72.0,88,78,79,2021,2
2,72.0,78,80,81,2021,2
3,60.0,91,65,95,2020,3
4,71.0,94,73,77,2018,2
5,74.0,81,69,84,2020,2
6,62.0,87,78,75,2019,2
7,80.0,88,79,88,2020,3
8,55.0,84,88,93,2018,3
9,69.0,80,77,80,2021,2
10,61.0,91,75,92,2020,3
11,67.0,89,72,83,2018,2
12,64.0,95,64,93,2020,3
13,61.0,89,67,78,2019,2
14,68.0,79,68,100,2021,3
15,NaN,95,64,60,2020,1
16,67.0,83,71,99,2018,3
17,75.0,95,78,76,2019,2
18,62.0,88,66,87,2020,3
19,65.0,91,61,98,2020,3
20,80.0,87,79,Na,2021,1
21,62.0,81,80,75,2020,2
22,66.0,75,65,99,2021,3
23,82.0,93,76,91,2019,3
24,60.0,91,69,94,2018,3
25,80.0,91,78,83,2018,2
26,63.0,83,71,99,2020,3
27,80.0,79,60,83,2020,2
28,66.0,90,73,79,2019,2

In [10]:
df.isnull()

,math score,reading score,writing score,placement score,club join date,placement offer count
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,True,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False

In [11]:
series = pd.isnull(df["math score"])
df[series]

,math score,reading score,writing score,placement score,club join date,placement offer count
15,NaN,95,64,60,2020,1

In [12]:
df.notnull()

,math score,reading score,writing score,placement score,club join date,placement offer count
0,True,True,True,True,True,True
1,True,True,True,True,True,True
2,True,True,True,True,True,True
3,True,True,True,True,True,True
4,True,True,True,True,True,True
5,True,True,True,True,True,True
6,True,True,True,True,True,True
7,True,True,True,True,True,True
8,True,True,True,True,True,True
9,True,True,True,True,True,True
10,True,True,True,True,True,True
11,True,True,True,True,True,True
12,True,True,True,True,True,True
13,True,True,True,True,True,True
14,True,True,True,True,True,True
15,False,True,True,True,True,True
16,True,True,True,True,True,True
17,True,True,True,True,True,True
18,True,True,True,True,True,True
19,True,True,True,True,True,True
20,True,True,True,True,True,True
21,True,True,True,True,True,True
22,True,True,True,True,True,True
23,True,True,True,True,True,True
24,True,True,True,True,True,True
25,True,True,True,True,True,True
26,True,True,True,True,True,True
27,True,True,True,True,True,True
28,True,True,True,True,True,True

In [13]:
series1 = pd.notnull(df["math score"])
df[series1]

,math score,reading score,writing score,placement score,club join date,placement offer count
0,69.0,84,68,78,2020,2
1,72.0,88,78,79,2021,2
2,72.0,78,80,81,2021,2
3,60.0,91,65,95,2020,3
4,71.0,94,73,77,2018,2
5,74.0,81,69,84,2020,2
6,62.0,87,78,75,2019,2
7,80.0,88,79,88,2020,3
8,55.0,84,88,93,2018,3
9,69.0,80,77,80,2021,2
10,61.0,91,75,92,2020,3
11,67.0,89,72,83,2018,2
12,64.0,95,64,93,2020,3
13,61.0,89,67,78,2019,2
14,68.0,79,68,100,2021,3
16,67.0,83,71,99,2018,3
17,75.0,95,78,76,2019,2
18,62.0,88,66,87,2020,3
19,65.0,91,61,98,2020,3
20,80.0,87,79,Na,2021,1
21,62.0,81,80,75,2020,2
22,66.0,75,65,99,2021,3
23,82.0,93,76,91,2019,3
24,60.0,91,69,94,2018,3
25,80.0,91,78,83,2018,2
26,63.0,83,71,99,2020,3
27,80.0,79,60,83,2020,2
28,66.0,90,73,79,2019,2

In [19]:
missing_values = ["Na", "na"]
df = pd.read_excel("/home/ubuntu/Desktop/TCOB42/Student_Data1.xlsx", na_values = missing_values)
df

,math score,reading score,writing score,placement score,club join date,placement offer count
0,69.0,84,68,78.0,2020,2
1,72.0,88,78,79.0,2021,2
2,72.0,78,80,81.0,2021,2
3,60.0,91,65,95.0,2020,3
4,71.0,94,73,77.0,2018,2
5,74.0,81,69,84.0,2020,2
6,62.0,87,78,75.0,2019,2
7,80.0,88,79,88.0,2020,3
8,55.0,84,88,93.0,2018,3
9,69.0,80,77,80.0,2021,2
10,61.0,91,75,92.0,2020,3
11,67.0,89,72,83.0,2018,2
12,64.0,95,64,93.0,2020,3
13,61.0,89,67,78.0,2019,2
14,68.0,79,68,100.0,2021,3
15,NaN,95,64,60.0,2020,1
16,67.0,83,71,99.0,2018,3
17,75.0,95,78,76.0,2019,2
18,62.0,88,66,87.0,2020,3
19,65.0,91,61,98.0,2020,3
20,80.0,87,79,NaN,2021,1
21,62.0,81,80,75.0,2020,2
22,66.0,75,65,99.0,2021,3
23,82.0,93,76,91.0,2019,3
24,60.0,91,69,94.0,2018,3
25,80.0,91,78,83.0,2018,2
26,63.0,83,71,99.0,2020,3
27,80.0,79,60,83.0,2020,2
28,66.0,90,73,79.0,2019,2

In [20]:
ndf=df
ndf.fillna(0)

,math score,reading score,writing score,placement score,club join date,placement offer count
0,69.0,84,68,78.0,2020,2
1,72.0,88,78,79.0,2021,2
2,72.0,78,80,81.0,2021,2
3,60.0,91,65,95.0,2020,3
4,71.0,94,73,77.0,2018,2
5,74.0,81,69,84.0,2020,2
6,62.0,87,78,75.0,2019,2
7,80.0,88,79,88.0,2020,3
8,55.0,84,88,93.0,2018,3
9,69.0,80,77,80.0,2021,2
10,61.0,91,75,92.0,2020,3
11,67.0,89,72,83.0,2018,2
12,64.0,95,64,93.0,2020,3
13,61.0,89,67,78.0,2019,2
14,68.0,79,68,100.0,2021,3
15,0.0,95,64,60.0,2020,1
16,67.0,83,71,99.0,2018,3
17,75.0,95,78,76.0,2019,2
18,62.0,88,66,87.0,2020,3
19,65.0,91,61,98.0,2020,3
20,80.0,87,79,0.0,2021,1
21,62.0,81,80,75.0,2020,2
22,66.0,75,65,99.0,2021,3
23,82.0,93,76,91.0,2019,3
24,60.0,91,69,94.0,2018,3
25,80.0,91,78,83.0,2018,2
26,63.0,83,71,99.0,2020,3
27,80.0,79,60,83.0,2020,2
28,66.0,90,73,79.0,2019,2

In [21]:
m_v=df['math score'].mean()
df['math score'].fillna(value=m_v, inplace=True)
df
#df['math score'] = df['math score'].fillna(df['math score'].max())

,math score,reading score,writing score,placement score,club join date,placement offer count
0,69.000000,84,68,78.0,2020,2
1,72.000000,88,78,79.0,2021,2
2,72.000000,78,80,81.0,2021,2
3,60.000000,91,65,95.0,2020,3
4,71.000000,94,73,77.0,2018,2
5,74.000000,81,69,84.0,2020,2
6,62.000000,87,78,75.0,2019,2
7,80.000000,88,79,88.0,2020,3
8,55.000000,84,88,93.0,2018,3
9,69.000000,80,77,80.0,2021,2
10,61.000000,91,75,92.0,2020,3
11,67.000000,89,72,83.0,2018,2
12,64.000000,95,64,93.0,2020,3
13,61.000000,89,67,78.0,2019,2
14,68.000000,79,68,100.0,2021,3
15,68.321429,95,64,60.0,2020,1
16,67.000000,83,71,99.0,2018,3
17,75.000000,95,78,76.0,2019,2
18,62.000000,88,66,87.0,2020,3
19,65.000000,91,61,98.0,2020,3
20,80.000000,87,79,NaN,2021,1
21,62.000000,81,80,75.0,2020,2
22,66.000000,75,65,99.0,2021,3
23,82.000000,93,76,91.0,2019,3
24,60.000000,91,69,94.0,2018,3
25,80.000000,91,78,83.0,2018,2
26,63.000000,83,71,99.0,2020,3
27,80.000000,79,60,83.0,2020,2
28,66.000000,90,73,79.0,2019,2

In [25]:
ndf.replace(to_replace = -99, value = "NaN")

,math score,reading score,writing score,placement score,club join date,placement offer count
0,69.000000,84,68,78.0,2020,2
1,72.000000,88,78,79.0,2021,2
2,72.000000,78,80,81.0,2021,2
3,60.000000,91,65,95.0,2020,3
4,71.000000,94,73,77.0,2018,2
5,74.000000,81,69,84.0,2020,2
6,62.000000,87,78,75.0,2019,2
7,80.000000,88,79,88.0,2020,3
8,55.000000,84,88,93.0,2018,3
9,69.000000,80,77,80.0,2021,2
10,61.000000,91,75,92.0,2020,3
11,67.000000,89,72,83.0,2018,2
12,64.000000,95,64,93.0,2020,3
13,61.000000,89,67,78.0,2019,2
14,68.000000,79,68,100.0,2021,3
15,68.321429,95,64,60.0,2020,1
16,67.000000,83,71,99.0,2018,3
17,75.000000,95,78,76.0,2019,2
18,62.000000,88,66,87.0,2020,3
19,65.000000,91,61,98.0,2020,3
20,80.000000,87,79,NaN,2021,1
21,62.000000,81,80,75.0,2020,2
22,66.000000,75,65,99.0,2021,3
23,82.000000,93,76,91.0,2019,3
24,60.000000,91,69,94.0,2018,3
25,80.000000,91,78,83.0,2018,2
26,63.000000,83,71,99.0,2020,3
27,80.000000,79,60,83.0,2020,2
28,66.000000,90,73,79.0,2019,2

In [23]:
ndf.dropna()

,math score,reading score,writing score,placement score,club join date,placement offer count
0,69.000000,84,68,78.0,2020,2
1,72.000000,88,78,79.0,2021,2
2,72.000000,78,80,81.0,2021,2
3,60.000000,91,65,95.0,2020,3
4,71.000000,94,73,77.0,2018,2
5,74.000000,81,69,84.0,2020,2
6,62.000000,87,78,75.0,2019,2
7,80.000000,88,79,88.0,2020,3
8,55.000000,84,88,93.0,2018,3
9,69.000000,80,77,80.0,2021,2
10,61.000000,91,75,92.0,2020,3
11,67.000000,89,72,83.0,2018,2
12,64.000000,95,64,93.0,2020,3
13,61.000000,89,67,78.0,2019,2
14,68.000000,79,68,100.0,2021,3
15,68.321429,95,64,60.0,2020,1
16,67.000000,83,71,99.0,2018,3
17,75.000000,95,78,76.0,2019,2
18,62.000000,88,66,87.0,2020,3
19,65.000000,91,61,98.0,2020,3
21,62.000000,81,80,75.0,2020,2
22,66.000000,75,65,99.0,2021,3
23,82.000000,93,76,91.0,2019,3
24,60.000000,91,69,94.0,2018,3
25,80.000000,91,78,83.0,2018,2
26,63.000000,83,71,99.0,2020,3
27,80.000000,79,60,83.0,2020,2
28,66.000000,90,73,79.0,2019,2

In [7]:
df=pd.read_excel("/home/ubuntu/Desktop/TCOB42/Student_Data1.xlsx")
df

,math score,reading score,writing score,placement score,club join date,placement offer count
0,69,81,63,91,2019,3
1,64,78,74,75,2020,2
2,79,82,61,82,2020,2
3,63,84,71,86,2020,3
4,60,93,69,84,2018,2
5,70,81,67,77,2019,2
6,65,86,65,78,2020,2
7,80,78,70,87,2021,3
8,55,80,88,86,2018,3
9,62,81,62,82,2020,2
10,61,88,76,76,2019,2
11,75,85,68,96,2018,3
12,69,84,65,91,2018,3
13,62,81,71,86,2021,3
14,68,91,77,90,2021,3
15,76,91,65,60,2020,1
16,77,89,61,97,2021,3
17,78,93,60,86,2018,3
18,66,94,70,94,2018,3
19,75,77,68,94,2021,3
20,69,85,78,81,2019,1
21,73,94,72,96,2018,3
22,60,78,80,10,2021,1
23,82,87,73,76,2021,2
24,65,76,61,96,2020,3
25,74,83,61,87,2018,3
26,75,85,64,97,2020,3
27,71,91,60,100,2021,3
28,76,90,80,95,2018,3

In [31]:
ndf=df

In [32]:
ndf.dropna(how = 'all')

,math score,reading score,writing score,placement score,club join date,placement offer count
0,70.0,88,76.0,77,2020.0,2
1,78.0,94,60.0,100,2018.0,3
2,62.0,76,73.0,75,2020.0,2
3,71.0,84,66.0,90,2018.0,3
4,78.0,85,71.0,96,2018.0,3
5,60.0,76,68.0,98,2018.0,3
6,75.0,77,NaN,95,NaN,3
7,70.0,76,60.0,82,2018.0,2
8,55.0,75,88.0,80,2019.0,2
9,79.0,93,72.0,98,2020.0,3
10,73.0,81,77.0,76,2020.0,2
11,64.0,79,77.0,93,2019.0,3
12,77.0,84,67.0,79,2019.0,2
13,73.0,93,62.0,96,2019.0,3
14,78.0,85,70.0,82,2018.0,2
15,NaN,95,61.0,60,2021.0,1
16,68.0,84,75.0,93,2021.0,3
17,66.0,84,80.0,82,2018.0,2
18,66.0,89,60.0,98,2018.0,3
19,70.0,88,67.0,99,2018.0,3
20,78.0,76,71.0,Na,2019.0,1
21,70.0,77,64.0,83,2021.0,2
22,68.0,94,69.0,95,2020.0,3
23,82.0,86,61.0,97,2020.0,3
24,67.0,80,73.0,87,2019.0,3
25,60.0,91,76.0,81,2019.0,2
26,77.0,90,62.0,92,2020.0,3
27,71.0,82,70.0,98,2021.0,3
28,66.0,83,62.0,97,2021.0,3

In [33]:
ndf.dropna(axis = 1)

    reading score placement score  placement offer count
0              88              77                      2
1              94             100                      3
2              76              75                      2
3              84              90                      3
4              85              96                      3
5              76              98                      3
6              77              95                      3
7              76              82                      2
8              75              80                      2
9              93              98                      3
10             81              76                      2
11             79              93                      3
12             84              79                      2
13             93              96                      3
14             85              82                      2
15             95              60                      1
16             84              93                      3
17             84              82                      2
18             89              98                      3
19             88              99                      3
20             76              Na                      1
21             77              83                      2
22             94              95                      3
23             86              97                      3
24             80              87                      3
25             91              81                      2
26             90              92                      3
27             82              98                      3
28             83              97                      3

In [34]:
new_data = ndf.dropna(axis = 0, how ='any')
new_data

,math score,reading score,writing score,placement score,club join date,placement offer count
0,70.0,88,76.0,77,2020.0,2
1,78.0,94,60.0,100,2018.0,3
2,62.0,76,73.0,75,2020.0,2
3,71.0,84,66.0,90,2018.0,3
4,78.0,85,71.0,96,2018.0,3
5,60.0,76,68.0,98,2018.0,3
7,70.0,76,60.0,82,2018.0,2
8,55.0,75,88.0,80,2019.0,2
9,79.0,93,72.0,98,2020.0,3
10,73.0,81,77.0,76,2020.0,2
11,64.0,79,77.0,93,2019.0,3
12,77.0,84,67.0,79,2019.0,2
13,73.0,93,62.0,96,2019.0,3
14,78.0,85,70.0,82,2018.0,2
16,68.0,84,75.0,93,2021.0,3
17,66.0,84,80.0,82,2018.0,2
18,66.0,89,60.0,98,2018.0,3
19,70.0,88,67.0,99,2018.0,3
20,78.0,76,71.0,Na,2019.0,1
21,70.0,77,64.0,83,2021.0,2
22,68.0,94,69.0,95,2020.0,3
23,82.0,86,61.0,97,2020.0,3
24,67.0,80,73.0,87,2019.0,3
25,60.0,91,76.0,81,2019.0,2
26,77.0,90,62.0,92,2020.0,3
27,71.0,82,70.0,98,2021.0,3
28,66.0,83,62.0,97,2021.0,3